In [19]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('autos.csv')

In [5]:
df

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,16500
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9,154,5000,19,26,16500
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10,102,5500,24,30,13950
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,-1,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9,114,5400,23,28,16845
189,-1,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8,160,5300,19,25,19045
190,-1,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8,134,5500,18,23,21485
191,-1,volvo,diesel,turbo,4,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23,106,4800,26,27,22470
192,-1,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9,114,5400,19,25,22625

In [6]:
df.head(8)

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,16500
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9,154,5000,19,26,16500
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10,102,5500,24,30,13950
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8,115,5500,18,22,17450
5,2,audi,gas,std,2,sedan,fwd,front,99.8,177.3,...,136,mpfi,3.19,3.40,8,110,5500,19,25,15250
6,1,audi,gas,std,4,sedan,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8,110,5500,19,25,17710
7,1,audi,gas,std,4,wagon,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8,110,5500,19,25,18920

In [8]:
grpy=df.groupby('make')

In [9]:
minimum_price=grpy['price'].min()

In [10]:
print(minimum_price)

make
alfa-romero      13495
audi             13950
bmw              16430
chevrolet         5151
dodge             5572
honda             5399
isuzu             6785
jaguar           32250
mazda             5195
mercedes-benz    25552
mercury          16503
mitsubishi        5389
nissan            5499
peugot           11900
plymouth          5572
porsche          22018
saab             11850
subaru            5118
toyota            5348
volkswagen        7775
volvo            12940
Name: price, dtype: int64

In [11]:
df.tail(2)

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
191,-1,volvo,diesel,turbo,4,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23,106,4800,26,27,22470
192,-1,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9,114,5400,19,25,22625

In [25]:
column_name=['make','fuel_type']
print(df[column_name].tail(2))

      make fuel_type
191  volvo    diesel
192  volvo       gas

In [17]:
p

          symboling        make              aspiration        num_of_doors  \
fuel_type    diesel  gas diesel          gas     diesel    gas       diesel
0               NaN  3.0    NaN  alfa-romero        NaN    std          NaN
1               NaN  3.0    NaN  alfa-romero        NaN    std          NaN
2               NaN  1.0    NaN  alfa-romero        NaN    std          NaN
3               NaN  2.0    NaN         audi        NaN    std          NaN
4               NaN  2.0    NaN         audi        NaN    std          NaN
..              ...  ...    ...          ...        ...    ...          ...
188             NaN -1.0    NaN        volvo        NaN    std          NaN
189             NaN -1.0    NaN        volvo        NaN  turbo          NaN
190             NaN -1.0    NaN        volvo        NaN    std          NaN
191            -1.0  NaN  volvo          NaN      turbo    NaN          4.0
192             NaN -1.0    NaN        volvo        NaN  turbo          NaN

               body_style               ... horsepower        peak_rpm  \
fuel_type  gas     diesel          gas  ...     diesel    gas   diesel
0          2.0        NaN  convertible  ...        NaN  111.0      NaN
1          2.0        NaN  convertible  ...        NaN  111.0      NaN
2          2.0        NaN    hatchback  ...        NaN  154.0      NaN
3          4.0        NaN        sedan  ...        NaN  102.0      NaN
4          4.0        NaN        sedan  ...        NaN  115.0      NaN
..         ...        ...          ...  ...        ...    ...      ...
188        4.0        NaN        sedan  ...        NaN  114.0      NaN
189        4.0        NaN        sedan  ...        NaN  160.0      NaN
190        4.0        NaN        sedan  ...        NaN  134.0      NaN
191        NaN      sedan          NaN  ...      106.0    NaN   4800.0
192        4.0        NaN        sedan  ...        NaN  114.0      NaN

                  city_mpg       highway_mpg          price
fuel_type     gas   diesel   gas      diesel   gas   diesel      gas
0          5000.0      NaN  21.0         NaN  27.0      NaN  13495.0
1          5000.0      NaN  21.0         NaN  27.0      NaN  16500.0
2          5000.0      NaN  19.0         NaN  26.0      NaN  16500.0
3          5500.0      NaN  24.0         NaN  30.0      NaN  13950.0
4          5500.0      NaN  18.0         NaN  22.0      NaN  17450.0
..            ...      ...   ...         ...   ...      ...      ...
188        5400.0      NaN  23.0         NaN  28.0      NaN  16845.0
189        5300.0      NaN  19.0         NaN  25.0      NaN  19045.0
190        5500.0      NaN  18.0         NaN  23.0      NaN  21485.0
191           NaN     26.0   NaN        27.0   NaN  22470.0      NaN
192        5400.0      NaN  19.0         NaN  25.0      NaN  22625.0

[193 rows x 48 columns]

In [23]:
std_dev=np.std(df).min()
std_dev

0.2716780076438119

In [29]:
dict1={'make':['Alfa-Romeo','mercedes-benz','audi'],'number_of_doors':[2,4,6]}
dict2={'make':['porsche','volvo','nissan'],'number_of_doors':[40,45,50]}
df1=pd.DataFrame(dict1)
df2=pd.DataFrame(dict2)
merged_df =pd.concat([df1,df2],ignore_index=True)
print(merged_df)

            make  number_of_doors
0     Alfa-Romeo                2
1  mercedes-benz                4
2           audi                6
3        porsche               40
4          volvo               45
5         nissan               50